.logo{
    color:white;
    font-weight: 900;
    font-family: Arial, "Helvetica", sans-serif;
    flex: 1;
}

.blue-body {
    background-color: rgb(21, 38, 63);
}

.top-body,
 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.top-body,
img {
    width: 500px;
    margin-left: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: grey;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

button {
    color: white;
    background-color: rgb(32, 108, 221);
    border: none;
    padding: 8px 24px;
    border-radius: 10px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0%;
}

.top-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 0%;
}

.blgr-top {
    background-color: rgb(28, 28, 34);
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.second-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    text-align: center;
    gap: 20px;
    padding-bottom: 48px;
}

.r-image {
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    margin: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quote-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    padding: 80px;
}

.quote {
    font-size: 23px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.box-quoter {
    display: flex;
    justify-content: end;
}

.quoter {
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up-body {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 108, 221);
    padding: 28px;
    width: 100%;
    border-radius: 2%;
}

.blue-box-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.blue-sign-up-button {
    background-color: rgb(32, 108, 221);
    border-color: white;
    border:2px;
    border-style: solid;
}

.call {
    margin: 0%;
    font-size: 23px;
    font-weight: 200px;
}

.call-text{
    margin: 0%;
}

footer {
    text-align: center;
    padding: 2%;
    background-color: rgb(28, 28, 34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
